/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 29, 2016, 12:41:24 AM
    Author     : Deepak
*/

    header{
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        overflow:hidden;}
    .active{
    color: white;}
    
    /* Set gray background color and 100% height */
    .centerPage {
    position: absolute;
    margin-left:300px;
    margin-right: 300px;
    width: 60%;
    padding: 10px;
    }
    
    #notLoggedIn{
     margin-top:100px;
    }
    
    .sidenav {
      margin-top:52px;
      width: 200px;
      background-color: #f1f1f1;
      height: 721px;}
    
    .leftPage {
    position: absolute;
    left: 0px;}
    
    .rightPage{
    position: absolute;
    right: 0px;}
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      position:absolute; 
      bottom:0px; 
      height:5%; 
      left:0px; 
      right:0px; 
      overflow:hidden;}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;}
        .row.content{
            height:auto;}}
    
    #content{
        position:absolute; 
        top:75px; 
        bottom:20px; 
        left:0px; 
        right:0px; 
        overflow:auto;
        }
        
       .rowPadding{
        padding: 15px;}
       
       .rowTitle{
        font-weight:Bold;}
       
       tr{
       border-bottom: 1px solid greenyellow;}

    
